---
const destination = '/pencil-design-site/what-clients-say';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content={`0;url=${destination}`} />
    <link rel="canonical" href={destination} />
    <title>Redirecting to What Clients Say</title>
  </head>
  <body>
    <p><a href={destination}>Continue to What Clients Say</a></p>
  </body>
</html>
